<div class="container-fluid">
  <spiner src='src/images/ajax-loader.gif' class="spiner"></spiner>
  <navigation-to-main></navigation-to-main>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks to do:</h3>
      </div>
      <div class="panel-body">
        <ol class="list-group">
          <li ng-repeat="todo in todos.todos" class="list-group-item" ng-class="{'completed-task':todo.completed}"><input type="checkbox" ng-model="todo.completed" ng-click="todos.updateToDo(todo)"> {{$index+1}}: {{todo.title}}</li>
        </ol>
      </div>
    </div>
  </div>

</div>
