<div class="container-fluid">
  <spiner src='src/images/ajax-loader.gif', done='posts.loaded' class="spiner"></spiner>

  <div ng-repeat="post in posts.posts">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="displayBody = !displayBody" ng-init="displayBody = false">
        <h3 class="panel-title">{{post.title}}</h3>
      </div>
      <div class="panel-body" ng-show="displayBody">
        <div>
          <p>{{post.body}}</p>
          <button class="btn btn-default" ng-click="posts.getPostCommentsById(post.id)">Get comments</button>
          <div ng-repeat="comment in post.comments">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{comment.name}}</h3>
              </div>
              <div class="panel-body">
                <div>
                  <p>{{comment.body}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
