
<div class="container-fluid page-content">

  <modal show='main.modalIsDisplaying' user-name="{{main.userName}}" user-id="{{main.userId}}"></modal>

  <spiner src='src/images/ajax-loader.gif', done='main.loaded' class="spiner"></spiner>

  <div class="row page-content" ng-show="main.loaded">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Choose your user (Click on your name)</p>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="users in main.users">
            <th scope="row">{{$index + 1}}</th>
            <td ng-click="main.showModalWindow(users.name,users.id)">{{users.name}}</td>
            <td>{{users.username}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
