<div class="col-sm-8" ng-show="users.display">
  <div class="col-sm-12">
    <h4>{{users.name}}</h4>
    <div class="col-sm-4">
      <p>{{users.username}}</br>email:{{users.email}}</br>phone:{{users.phone}}</br>website:{{users.website}}</p>
    </div>

    <div class="col-sm-4">
      <p>Adress:</p>
      <p>street:{{users.address.street}}</br>suite:{{users.address.suite}}</br>city:{{users.address.city}}</br>zipcode:{{users.address.zipcode}}</p>
      <p>geo:</br>lat:{{users.address.geo.lat}}</br>lng:{{users.address.geo.lng}}</p>
    </div>

    <div class="col-sm-4">
      <p>Company:</p>
      <p>name:{{users.company.name}}</br>catchPhrase:{{users.company.catchPhrase}}</br>bs:{{users.company.bs}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-6">
        <h4>Albums</h4>
        <div ng-repeat="albums in users.albums" class="content">
          <p ng-click="displayImg = !displayImg" ng-init="displayImg = false; limit = 5">{{albums.title}}</p>
          <div ng-show="displayImg">
            <button ng-click="limit = albums.photos.length;hideButton = true" ng-hide="hideButton">Show all</button>
            <img ng-repeat="photos in albums.photos |limitTo:limit" ng-src="{{photos.url}}">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h4>Posts</h4>
        <div ng-repeat="posts in users.posts" class="content">
          <p ng-click="displayComments = !displayComments" ng-init="displayComments = false">{{posts.title}}:</br>{{posts.body}}</p>
          <div ng-show="displayComments">
            <p ng-repeat="comments in posts.comments">{{comments.name}}:</br>{{comments.body}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-12 todos">
        <h4>Todos</h4>
        <p ng-repeat="todos in users.todos">{{todos.title}}</br>completed:{{todos.completed}}</p>
      </div>

    </div>
  </div>
</div>
