<div class="container-fluid">
  <spiner src='src/images/ajax-loader.gif', done='albums.loaded' class="spiner"></spiner>

  <div ng-repeat="album in albums.albums">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{album.title}}</h3>
        <button type="button" class="btn btn-default btn-xs" ng-click="albums.getAlbumPhotosById(album.id)">{{album.photos.length ? "Show more!" : "Click me!"}}</button>
      </div>
      <div class="panel-body" ng-show="album.photos.length">
        <div ng-repeat="photo in album.photos| limitTo:album.limit">
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img ng-src="{{photo.url}}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
